---
const { classes } = Astro.props;
---

<div class={`carousel overflow-hidden relative ${classes}`} data-carousel>
  <div class="carousel-viewport h-full" data-carousel-viewport>
    <div class="carousel-container h-full flex">
      <slot />
    </div>
  </div>
  <button
    class="carousel-prev absolute left-0 top-[calc(50%-30px)] -translate-y-1/2 z-30"
    data-carousel-prev></button>
  <button
    class="carousel-next absolute right-0 top-[calc(50%-30px)] -translate-y-1/2 z-30"
    data-carousel-next></button>
</div>

<script>
  import EmblaCarousel from "embla-carousel";

  const emblaNodes = document.querySelectorAll("[data-carousel-viewport]");
  const options = { loop: true };

  emblaNodes.forEach((node) => {
    const prevButtonNode = node.parentNode.querySelector(
      "[data-carousel-prev]"
    );
    const nextButtonNode = node.parentNode.querySelector(
      "[data-carousel-next]"
    );
    const embla = EmblaCarousel(node, options);

    prevButtonNode.addEventListener("click", () => embla.scrollPrev(), false);
    nextButtonNode.addEventListener("click", () => embla.scrollNext(), false);
  });
</script>

<style>
  :global(.carousel-slide) {
    flex: 0 0 100%;
    min-width: 0;
  }

  .carousel-prev,
  .carousel-prev:after,
  .carousel-next,
  .carousel-next:after {
    width: 0;
    height: 0;
    display: block;
  }

  .carousel-prev {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid black;
  }

  .carousel-prev:after {
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid black;
    top: -8px;
    left: 12px;
    position: relative;
  }

  .carousel-next {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid black;
  }

  .carousel-next:after {
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid black;
    top: -8px;
    right: 24px;
    position: relative;
  }
</style>
