<div class="embla">
  <div class="embla__container">
    <slot/>
  </div>
</div>

<script>
    import EmblaCarousel from 'embla-carousel';

    const emblaNode = document.querySelector('.embla')
    const options = { loop: false }
    const emblaApi = EmblaCarousel(emblaNode, options)

    console.log(emblaApi.slideNodes()) // Access API
</script>

<style>
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
</style>
