---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { classes, blok, color } = Astro.props;
---

<div
  class={`carousel overflow-hidden relative ${(blok?.items) ? 'carousel-storyblok' : ''} ${classes}`}
  data-carousel
  {...storyblokEditable(blok)}
>
  <div
    class=`carousel-viewport h-full m-auto ${(blok?.items && !blok?.autoScroll)  ? 'max-w-[calc(100%-100px)] overflow-hidden' : ''}`
    data-carousel-viewport
    {...{
      "data-auto-height": blok?.autoHeight ? true : false,
      "data-auto-scroll": blok?.autoScroll ? true : false,
      "data-auto-play": blok?.autoPlay ? true : false,
    }}
  >
    <div
      class=`carousel-container h-full flex ${blok?.items ? 'items-start' : ''}`
    >
      {
        blok?.items ? (
          blok.items.map((blok) => {
            return (
              <div class="carousel-slide text-center" data-carousel-slide>
                <StoryblokComponent blok={blok} />
              </div>
            );
          })
        ) : (
          <slot />
        )
      }
    </div>
  </div>
  {
    !blok?.autoScroll && !blok?.autoPlay && (
      <>
        <button
          class={`carousel-prev absolute left-0 ${
            blok?.items ? "top-[calc(50%-18px)] " : "top-[calc(50%-30px)] "
          } -translate-y-1/2 z-30`}
          data-carousel-prev
        />
        <button
          class={`carousel-next absolute right-0 ${
            blok?.items ? "top-[calc(50%-18px)] " : "top-[calc(50%-30px)] "
          } -translate-y-1/2 z-30`}
          data-carousel-next
        />
      </>
    )
  }
</div>

<script>
  import EmblaCarousel from "embla-carousel";
  import AutoHeight from "embla-carousel-auto-height";
  import AutoScroll from "embla-carousel-auto-scroll";
  import AutoPlay from "embla-carousel-autoplay";

  const emblaNodes = document.querySelectorAll("[data-carousel-viewport]");

  const emblaInstances = [];
  let emblaNodeIndex = -1;

  emblaNodes.forEach((node) => {
    // check if slide is a child of carousel
    if (node.querySelectorAll("[data-carousel-slide]").length === 0) {
      return true;
    }

    const options = { loop: true };

    emblaNodeIndex += 1;

    const prevButtonNode = node.parentNode.querySelector(
      "[data-carousel-prev]"
    );
    const nextButtonNode = node.parentNode.querySelector(
      "[data-carousel-next]"
    );

    const emblaPlugins = [];

    if (typeof node.getAttribute("data-auto-height") === "string") {
      emblaPlugins.push(AutoHeight());
    }

    if (typeof node.getAttribute("data-auto-scroll") === "string") {
      emblaPlugins.push(
        AutoScroll({
          startDelay: 0,
          stopOnFocusIn: false,
          stopOnInteraction: false,
        })
      );

      options.dragFree = true;
    }

    if (typeof node.getAttribute("data-auto-play") === "string") {
      emblaPlugins.push(
        AutoPlay()
      );
    }

    emblaInstances.push(EmblaCarousel(node, options, emblaPlugins));
    node.setAttribute(
      "data-carousel-instance-index",
      emblaNodeIndex.toString()
    );

    if (typeof node.getAttribute("data-auto-scroll") !== "string" || typeof node.getAttribute("data-auto-play") !== "string"){
      prevButtonNode.addEventListener(
        "click",
        (e) => {
          const instanceIndex = e.currentTarget.parentNode
            .querySelector("[data-carousel-instance-index]")
            .getAttribute("data-carousel-instance-index");
          emblaInstances[instanceIndex].scrollPrev();
        },
        false
      );
      nextButtonNode.addEventListener(
        "click",
        (e) => {
          const instanceIndex = e.currentTarget.parentNode
            .querySelector("[data-carousel-instance-index]")
            .getAttribute("data-carousel-instance-index");
          emblaInstances[instanceIndex].scrollNext();
        },
        false
      );
    }
  });
</script>

<style define:vars={{ color }}>
  :global(.carousel-slide) {
    flex: 0 0 100%;
    min-width: 0;
  }

  :global(.carousel-storyblok .carousel-slide img) {
    margin: auto;
  }

  .carousel-container {
    transition: height 0.2s;
  }

  .carousel-prev,
  .carousel-prev:after,
  .carousel-next,
  .carousel-next:after {
    width: 0;
    height: 0;
    display: block;
  }

  .carousel-prev {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid var(--color, black);
  }

  .carousel-prev:after {
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid var(--color, black);
    top: -8px;
    left: 12px;
    position: relative;
  }

  .carousel-next {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid var(--color, black);
  }

  .carousel-next:after {
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid var(--color, black);
    top: -8px;
    right: 24px;
    position: relative;
  }
</style>
