---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { classes, blok, color } = Astro.props;
---

<div
  class={`carousel overflow-hidden relative ${classes}`}
  data-carousel
  {...storyblokEditable(blok)}
>
  <div class="carousel-viewport h-full max-w-[calc(100%-100px)] m-auto overflow-hidden" data-carousel-viewport>
    <div class="carousel-container h-full flex">
      {
        blok?.items ? (
          blok.items.map((blok) => {
            return <div class="carousel-slide text-center"><StoryblokComponent blok={blok} /></div>;
          })
        ) : (
          <slot />
        )
      }
    </div>
  </div>
  <button
    class=`carousel-prev absolute left-0 ${blok?.items ? 'top-[calc(50%-18px)] ' : 'top-[calc(50%-30px)] '} -translate-y-1/2 z-30`
    data-carousel-prev></button>
  <button
    class=`carousel-next absolute right-0 ${blok?.items ? 'top-[calc(50%-18px)] ' : 'top-[calc(50%-30px)] '} -translate-y-1/2 z-30`
    data-carousel-next></button>
</div>

<script>
  import EmblaCarousel from "embla-carousel";

  const emblaNodes = document.querySelectorAll("[data-carousel-viewport]");
  const options = { loop: true };

  emblaNodes.forEach((node) => {
    const prevButtonNode = node.parentNode.querySelector(
      "[data-carousel-prev]"
    );
    const nextButtonNode = node.parentNode.querySelector(
      "[data-carousel-next]"
    );
    const embla = EmblaCarousel(node, options);

    prevButtonNode.addEventListener("click", () => embla.scrollPrev(), false);
    nextButtonNode.addEventListener("click", () => embla.scrollNext(), false);
  });
</script>

<style define:vars={{ color }}>
  :global(.carousel-slide) {
    flex: 0 0 100%;
    min-width: 0;
  }

  .carousel-prev,
  .carousel-prev:after,
  .carousel-next,
  .carousel-next:after {
    width: 0;
    height: 0;
    display: block;
  }

  .carousel-prev {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid var(--color, black);
  }

  .carousel-prev:after {
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid var(--color, black);
    top: -8px;
    left: 12px;
    position: relative;
  }

  .carousel-next {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid var(--color, black);
  }

  .carousel-next:after {
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid var(--color, black);
    top: -8px;
    right: 24px;
    position: relative;
  }
</style>
