---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Dialog from "../components/Dialog.astro";
import Carousel from "./Carousel.astro";

const { blok } = Astro.props;
---

<div
  {...storyblokEditable(blok)}
  class={`grid-category-item w-[calc(25%-12px)] mb-4 ${
    blok.doubleWidth && "w-[calc(50%-12px)] "
  }`}
  data-grid-category-item
>
  <div data-grid-category-item-content class="cursor-pointer">
    <img
      srcset={`
            ${
              blok.thumbnail?.filename +
              "/m/1920x0/smart/filters:format(webp):quality(80)"
            } 1200w,
            ${
              blok.thumbnail?.filename +
              "/m/992x0/smart/filters:format(webp):quality(80)"
            } 992w,
            ${
              blok.thumbnail?.filename +
              "/m/768x0/smart/filters:format(webp):quality(80)"
            } 768w,
            ${
              blok.thumbnail?.filename +
              "/m/576x0/smart/filters:format(webp):quality(80)"
            } 576w`}
      src={blok.thumbnail?.filename +
        "/m/1920x0/smart/filters:format(webp):quality(80)"}
      alt={blok.thumbnail?.alt || "Grid Item"}
      loading="lazy"
      class="grid-category-item-thumbnail"
      data-grid-category-item-thumbnail
    />
    <h2>{blok.title}</h2>
  </div>
  <Dialog
    classes="grid-gallery-dialog"
    attrs={{ "data-grid-gallery-dialog": true }}
  >
    <div class="container mx-auto h-full">
      <h2 class="text-xl text-center p-4">{blok.title}</h2>
      <Carousel classes="h-[calc(100%-60px)]">
        {
          blok.gallery?.map((gallery, index) => {
            return (
              <div class="carousel-slide">
                <StoryblokComponent blok={gallery} current={index + 1} max={blok.gallery?.length}/>
              </div>
            );
          })
        }
      </Carousel>
    </div>
  </Dialog>
</div>

<script>
  const gridItems = document.querySelectorAll(
    "[data-grid-category-item-content]"
  );
  gridItems.forEach((item) => {
    item.addEventListener("click", function (e) {
      e.preventDefault();
      const dialog = item.nextElementSibling;
      if (dialog && dialog.matches("[data-grid-gallery-dialog]")) {
        dialog.showModal();
        document.querySelector("body").classList.add("overflow-hidden");
        dialog.classList.remove("opacity-0");
      }
    });
  });
</script>
