---
import { storyblokEditable } from '@storyblok/astro';
import RichTextRenderer from "@storyblok/astro/RichTextRenderer.astro";

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="grid-category-item-gallery" data-grid-category-item-gallery>
  <h2>{blok.title}</h2>
  <RichTextRenderer richTextData={blok.description} />
  <img
        srcset={`
            ${blok.image?.filename+'/m/1920x0/smart/filters:format(webp):quality(80)'} 1200w,
            ${blok.image?.filename+'/m/992x0/smart/filters:format(webp):quality(80)'} 992w,
            ${blok.image?.filename+'/m/768x0/smart/filters:format(webp):quality(80)'} 768w,
            ${blok.image?.filename+'/m/576x0/smart/filters:format(webp):quality(80)'} 576w`}
        src={blok.image?.filename+'/m/1920x0/smart/filters:format(webp):quality(80)'}
        alt={blok.image?.alt || "Grid Item Gallery"}
        loading="lazy"
        class=""
      />
</div>
