---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<div
  {...storyblokEditable(blok)}
  class=`row-container gap-12 grid grid-flow-col ${!blok.fullWidth ? 'container mx-auto' : ''}`
  style=`grid-template-columns: repeat(${blok.columns}, minmax(0, 1fr));`
>
  {
    blok.content?.map((blok) => {
      return <StoryblokComponent blok={blok} />;
    })
  }
</div>

<style>
  @media screen and (max-width: 1023px) {
    .row-container {
      grid-template-columns: 1fr !important;
      grid-auto-flow: row;
    }
  }
  .row-container :global(.text-section-content) {
    margin-top: 0;
  }

  .row-container + .row-container {
    margin-top: 3rem;
  }
</style>
