---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<div
  style=`text-align: ${blok.textAlign}`
  class=`text-section container py-32 mx-auto ${blok.textAlign !== "left" ? 'w-3/4' : 'w-full'} `
  {...storyblokEditable(blok)}
>
  {
    blok.title && (
      <h2
        class={`text-section-title ${blok.smallTitle ? "isSmall text-sm" : "text-xl"} font-bold`}
      >
        {blok.title}
      </h2>
    )
  }
  {blok.content.map((contentBlok) => <StoryblokComponent blok={contentBlok} />)}
</div>

<style>
  .text-section :global(.text-section-content:first-child) {
    @apply mt-0;
  }

  .text-section-title:not(.isSmall) + :global(.text-section-content) {
    @apply mt-16;
  }

  .text-section-title.isSmall + :global(.text-section-content) {
    @apply mt-0;
  }

  .text-section-title.isSmall ~ :global(.text-section-content h1),
  .text-section-title.isSmall ~ :global(.text-section-content h2),
  .text-section-title.isSmall ~ :global(.text-section-content h3),
  .text-section-title.isSmall ~ :global(.text-section-content h4),
  .text-section-title.isSmall ~ :global(.text-section-content h5),
  .text-section-title.isSmall ~ :global(.text-section-content h6) {
    @apply uppercase;
  }

  @media screen and (max-width: 1023px) {
    .text-section {
      text-align: left !important;
      width: 100%;
    }
  }
</style>
