<header
  class="header fixed w-full z-50 h-20 p-4 text-white"
  data-header
>
  <nav class="header-nav h-full flex items-center justify-between">
    <a href="/" class="uppercase">Lynn</a>
    <div class="flex-grow flex gap-16 px-16 header-nav-content-menu" data-header-nav-content-menu>
      <a href="#moderation">Moderation</a>
      <a href="#content-production">Content Production</a>
      <a href="#about">About</a>
      <a href="#contact" class="flex-grow text-center">Contact</a>
    </div>
    <a href="/" class="uppercase">Grütter</a>
  </nav>
</header>

<style>
  .header-nav-content-menu > a {
    transition: color 0.75s ease-in-out;
  }
</style>