<header class="header fixed w-full z-50" data-header>
  <a>Lynn Grütter</a>
</header>

<style>
  .header {
    animation: 6s linear colorChangeTextHeader forwards;
  }

  @keyframes colorChangeTextHeader {
    0% {
      @apply text-darkGreen;
    }
    16.666% {
      @apply text-darkGreen;
    }
    33.2222% {
      @apply text-pink;
    }
    66% {
      @apply text-brown;
    }
    100% {
      @apply text-white;
    }
  }
</style>