<header
  class="header fixed w-full z-50 h-20 p-4"
  data-header
>
  <nav class="header-nav h-full flex items-center justify-between">
    <a class="uppercase">Lynn</a>
    <div class="flex-grow flex gap-4 px-4 header-nav-content-menu" data-header-nav-content-menu>
      <a>Moderation</a>
      <a>Content Production</a>
      <a>About</a>
      <a class="flex-grow text-center">Contact</a>
    </div>
    <a class="uppercase">Grütter</a>
  </nav>
</header>