<div class="h-svh w-svw fixed hero-animation" data-hero-animation></div>

<script>
  setTimeout(function () {
    document.querySelector("[data-hero-animation]").classList.add("opacity-0");
    document.querySelector("[data-main]").classList.remove("opacity-0");
    if (document.querySelector("[data-hero-video]")) {
      document.querySelector("[data-hero-video]").play();
    }
  }, 3500);
</script>

<style>
.hero-animation {
    animation: 3s linear colorChangeBackground forwards;
    background-color: #C7A6D9;
    transition: opacity 1s ease-in-out;
}

@keyframes colorChangeBackground {
  0% {
    background-color: #C7A6D9;
  }
  33% {
    background-color: #C7A6D9;
  }
  66% {
    background-color: #1EC132;
  }
  100% {
    background-color: #578CC1;
  }
}
</style>
