<div class="h-svh w-svw fixed hero-animation" data-hero-animation></div>

<script>
  setTimeout(function () {
    document.querySelector("[data-main]").classList.remove("opacity-0");
    if (document.querySelector("[data-hero-video]")) {
      document.querySelector("[data-hero-video]").play();
    }
  }, 3500);
  setTimeout(function () {
    document.querySelector("[data-hero-animation]").classList.add("hidden");
  }, 4500);
</script>

<style>
.hero-animation {
    animation: 3s linear colorChangeBackground forwards;
    @apply bg-violet;
    transition: opacity 1s ease-in-out;
}

@keyframes colorChangeBackground {
  0% {
    @apply bg-violet;
  }
  33% {
    @apply bg-violet;
  }
  66% {
    @apply bg-green;
  }
  100% {
    @apply bg-blue;
  }
}
</style>
