<div
  class="hero-animation-background h-svh w-svw fixed hero-animation z-10"
  data-hero-animation-background
>
</div>

<h1
  class="hero-animation-text uppercase text-[42svw] max-h-svh max-w-svw fixed z-30 top-24 -left-6 line-h leading-[0.72]"
  data-hero-animation-text
>
  Lynn
</h1>

<div
  class="hero-animation-text uppercase text-[42svw] max-h-svh max-w-svw fixed z-30 top-24 -left-6 left line-h leading-[0.72] mix-blend-difference opacity-0"
  data-hero-animation-text-mix-blend-mode
>
  Lynn
</div>

<script>
  const heroAnimationText = document.querySelector(
    "[data-hero-animation-text]"
  );
  const heroAnimationTextMixBlendMode = document.querySelector(
    "[data-hero-animation-text-mix-blend-mode]"
  );
  const heroAnimationBackground = document.querySelector(
    "[data-hero-animation-background]"
  );
  const heroVideo = document.querySelector(
    "[data-storyblok] > [data-hero]:first-child [data-hero-video], [data-storyblok] > [data-scroll-section]:first-child [data-hero] [data-hero-video]"
  );
  const headerNavContentMenu = document.querySelector(
    "[data-header-nav-content-menu]"
  );
  const headerNavContentMenuItems = document.querySelectorAll(
    "[data-header-nav-content-menu] > a"
  );

  let bottomPosition = heroAnimationText.getBoundingClientRect();
  headerNavContentMenu.style.transform = `translateY(${
    bottomPosition.bottom
  }px)`;

  setTimeout(function () {
    window.scrollTo(0, 0);
    document.querySelector("[data-body]").classList.remove("overflow-hidden");
    document.querySelector("[data-main]").classList.remove("opacity-0");
    heroAnimationBackground.classList.add("opacity-0");
    heroAnimationText.classList.add("opacity-0", '!text-[41.4svw]');
    heroAnimationTextMixBlendMode.classList.add('!text-[41.4svw]');
    heroAnimationTextMixBlendMode.classList.remove("opacity-0");
    if (heroVideo) {
      heroVideo.play();
    }
  }, 3750);
  setTimeout(function () {
    heroAnimationTextMixBlendMode.classList.add("opacity-0");
    headerNavContentMenu.classList.add("header-nav-content-menu-animation");
  }, 4500);
  setTimeout(function () {
    /*heroAnimationTextMixBlendMode.remove();
    heroAnimationText.remove();
    heroAnimationBackground.remove();*/
    headerNavContentMenuItems.forEach((item) => {
      item.classList.add("!animate-none");
    });
  }, 5250);
</script>

<style>
  :global(main) {
    transition: opacity 0.75s ease-in-out;
  }

  :global(.header a) {
    animation: 3s linear colorChangeText forwards, 1.7s 3.875s ease-in-out colorChangeTextHeader forwards;
  }

  :global(.header-nav-content-menu-animation) {
    transition: transform 0.75s ease-in-out;
    transform: none !important;
  }

  .hero-animation-background {
    animation: 3s linear colorChangeBackground forwards;
    @apply bg-violet;
    transition: opacity 0.75s ease-in-out;
  }

  .hero-animation-text {
    animation: 3s linear colorChangeText forwards;
    @apply text-darkGreen;
    transition: opacity 0.75s ease-in-out;
  }

  .hero-animation-text-mix-blend-mode {
    transition: opacity 0.75s ease-in-out;
  }

  @keyframes colorChangeBackground {
    0%, 25% {
      @apply bg-violet;
    }
    50%, 75% {
      @apply bg-green;
    }
    100% {
      @apply bg-blue;
    }
  }

  @keyframes colorChangeText {
    0%, 25% {
      @apply text-darkGreen;
    }
    50%, 75% {
      @apply text-pink;
    }
    100% {
      @apply text-brown;
    }
  }

  @keyframes colorChangeTextHeader {
    0% {
      @apply text-brown;
    }
    25% {
      mix-blend-mode: difference;
    }
    100% {
      @apply text-white;
      mix-blend-mode: none;
    }
  }
</style>
