---
import { useStoryblokApi } from "@storyblok/astro";
import Header from "../components/Header.astro";
import HeroAnimation from "../components/HeroAnimation.astro";
import lynnWhite from "../assets/lynnWhite.svg";
import CookieBanner from "../components/CookieBanner.astro";

const storyblokApi = useStoryblokApi();
const dev = import.meta.env.DEV;
const { data } = await storyblokApi.get("cdn/stories/home", {
  version: dev ? "draft" : "published",
});
const content = data.story.content;
const isFrontendEditor = Astro.url.searchParams.get("_storyblok")! || "";

const cookies = Astro.request.headers.get("cookie");

const cookiesAccepted = cookies?.includes("cookiesAccepted=true");
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="preload"
      href="/fonts/PPNeueMontreal-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" href={lynnWhite?.src} as="image" />
    <title>{content?.meta?.title || "Lynn Grütter"}</title>
    <meta
      name="description"
      content={content?.meta?.description ||
        "Ich moderiere: Vor der Fernsehkamera, online oder live an Ihrem Anlass."}
    />
  </head>
  <body
    data-body
    class=`font-montrealMedium overflow-hidden ${(dev || isFrontendEditor) && 'dev'}`
  >
    <Header />
    {!dev && !isFrontendEditor && <HeroAnimation />}
    <main class="relative opacity-0 bg-gray" data-main>
      <div>
        <slot />
      </div>
    </main>
    {!cookiesAccepted && <CookieBanner />}
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  body {
    transition:
      filter 0.325s ease-in-out,
      opacity 0.75s ease-in-out;
  }

  body,
  a,
  button,
  video,
  [data-grid-category-item-content] {
    cursor:
      url("/custom-cursor-transparent.png") 15 15,
      auto !important;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: none;
  }

  .dev {
    overflow: auto;
  }

  .dev main {
    opacity: 1;
    background: transparent;
  }

  .dev header {
    mix-blend-mode: normal;
    color: black;
    transition:
      background 0.75s ease-in-out,
      transform 0.325s ease-in-out !important;
  }

  .dev header .header-nav-logo {
    opacity: 1;
  }

  .dev header .header-nav-logo-white {
    display: none;
  }

  .dev .header-nav-content-menu {
    opacity: 1;
  }

  @font-face {
    font-family: "NeueMontreal-Medium";
    src: url("/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
    font-weight: medium;
    font-style: normal;
    font-display: swap;
  }
</style>
