---
import { useStoryblokApi } from "@storyblok/astro";
import Header from "../components/Header.astro";
import HeroAnimation from "../components/HeroAnimation.astro";
import CookieBanner from "../components/CookieBanner.astro";

const { updateHeaderLinks } = Astro.props;
const storyblokApi = useStoryblokApi();
const dev = import.meta.env.DEV;
const { data } = await storyblokApi.get("cdn/stories/home", {
  version: dev ? "draft" : "published",
});
const content = data.story.content;
const isFrontendEditor = Astro.url.searchParams.get("_storyblok")! || "";

const cookies = Astro.request.headers.get("cookie");

const cookiesAccepted = cookies?.includes("cookiesAccepted=true");

const isBot =
  Astro.request.headers.get("user-agent")?.match(/bot/i) ||
  Astro.request.headers.get("sec-ch-ua")?.match(/lighthouse/i);
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="preload"
      href="/fonts/PPNeueMontreal-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{content?.meta?.title || "Lynn Grütter"}</title>
    <meta
      name="description"
      content={content?.meta?.description ||
        "Ich moderiere: Vor der Fernsehkamera, online oder live an Ihrem Anlass."}
    />
  </head>
  <body
    data-body
    class=`font-montrealMedium overflow-hidden ${(dev || isFrontendEditor) && 'dev'}`
  >
    <Header updateHeaderLinks={updateHeaderLinks} />
    {!dev && !isFrontendEditor && <HeroAnimation />}
    <main class="relative opacity-0 bg-gray" data-main>
      <div>
        <slot />
      </div>
    </main>
    {!cookiesAccepted && !isBot && <CookieBanner />}
  </body>
</html>

<script>
  if (!document.body.classList.contains("dev")) {
    if ("scrollRestoration" in history) {
      history.scrollRestoration = "manual";
    }
  }

  // if video has attribute data-autoplay, play it if near the viewport
  const videos = document.querySelectorAll("video[data-autoplay]");
  const playedVideos = new Set();
  const videoObserver = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        // if video already loaded
        if (
          entry.target.readyState > 3 &&
          entry.target.hasAttribute("data-initialized")
        ) {
          playedVideos.add(entry.target);
          entry.target.play().then(() => {
            entry.target.classList.remove("loading");
          });

          if (playedVideos.size > 2) {
            // delete the first video in the set
            const firstVideo = playedVideos.values().next().value;
            playedVideos.delete(firstVideo);
            firstVideo.pause();
          }
          return;
        }

        // show a loader until the video is ready to play
        entry.target.classList.add("loading");
        entry.target.setAttribute("data-initialized", "true");
        playedVideos.add(entry.target);

        // on play callback remove the observer and the attribute
        entry.target.play().then(() => {
          entry.target.classList.remove("loading");

          // if video is [data-test]
          if (
            !entry.target.hasAttribute("data-scroll-section-video") &&
            !entry.target.hasAttribute("data-grid-category-item-gallery-image")
          ) {
            entry.target.addEventListener("mouseenter", function () {
              // check if video can be paused
              if (
                entry.target.readyState > 3 &&
                entry.target.paused === false
              ) {
                entry.target.pause();
                playedVideos.delete(entry.target);
              }
            });
            entry.target.addEventListener("mouseleave", function () {
              // check if video can be played
              if (entry.target.readyState > 3 && entry.target.paused === true) {
                playedVideos.add(entry.target);
                entry.target.play().then(() => {
                  if (playedVideos.size > 2) {
                    // delete the first video in the set
                    const firstVideo = playedVideos.values().next().value;
                    playedVideos.delete(firstVideo);
                    firstVideo.pause();
                  }
                });
              }
            });
            entry.target.addEventListener("touchstart", function () {
              if (
                entry.target.readyState > 3 &&
                entry.target.paused === false
              ) {
                entry.target.pause();
                playedVideos.delete(entry.target);
              }
            });
            entry.target.addEventListener("touchend", function () {
              if (entry.target.readyState > 3 && entry.target.paused === true) {
                playedVideos.add(entry.target);
                entry.target.play().then(() => {
                  if (playedVideos.size > 2) {
                    // delete the first video in the set
                    const firstVideo = playedVideos.values().next().value;
                    playedVideos.delete(firstVideo);
                    firstVideo.pause();
                  }
                });
              }
            });

            if (playedVideos.size > 2) {
              // delete the first video in the set
              const firstVideo = playedVideos.values().next().value;
              playedVideos.delete(firstVideo);
              firstVideo.pause();
            }
          }
        });
      } else {
        if (entry.target.readyState > 3 && playedVideos.has(entry.target)) {
          // delete the first video in the set
          const firstVideo = playedVideos.values().next().value;
          playedVideos.delete(firstVideo);
          firstVideo.pause();
        }
      }
    });
  });

  videos.forEach((video) => {
    videoObserver.observe(video);
  });

  const images = document.querySelectorAll("img[data-loading='lazy']");
  const observer = new IntersectionObserver(
    (entries, observer) => {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          return;
        }

        const image = entry.target;
        const isInDialog = image.closest("dialog");
        let parent;
        if (!isInDialog) {
          parent = image.closest("[data-grid-category-item]");
        }

        const selector = parent ? parent : image;
        selector.classList.add("loading");

        image.src = image.dataset.src;
        if (image.dataset.srcset) {
          image.srcset = image.dataset.srcset;
        }
        image.addEventListener("load", () => {
          selector.classList.remove("loading");
          image.classList.add("loaded");
          image.removeAttribute("data-loading");
          image.removeAttribute("data-src");
          image.removeAttribute("data-srcset");
          observer.unobserve(image);
        });
      });
    },
    { rootMargin: "0px 0px 200px 0px" },
  ); // Adjust this value to control when the image starts loading

  images.forEach((image) => {
    observer.observe(image);
  });
</script>

<style is:global>
  html {
    scroll-behavior: smooth;
    min-width: 375px;
  }

  body {
    transition:
      filter 0.325s ease-in-out,
      opacity 0.75s ease-in-out;
  }

  body,
  a,
  button,
  video,
  [data-grid-category-item-content] {
    cursor:
      url("/custom-cursor-transparent.png") 15 15,
      auto !important;
  }

  a {
    z-index: 50;
    position: relative;
  }

  img[data-loading="lazy"] {
    font-size: 0;
    width: auto;
    height: auto;
  }

  img.loade{
    font-size: 16px;
  }

  .loading.grid-category-item {
    opacity: 1;
    visibility: visible;
  }

  .loading.grid-category-item img {
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .loading:not(.grid-category-item) {
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1920px;
  }

  .row-container:not(.container) {
    max-width: 1920px;
    margin: auto;
  }

  .dev {
    overflow: auto;
  }

  .dev main {
    opacity: 1;
    background: transparent;
  }

  .dev header {
    pointer-events: auto;
    mix-blend-mode: normal;
    color: black;
    transition:
      background 0.75s ease-in-out,
      transform 0.325s ease-in-out !important;
  }

  .dev header .header-nav-logo {
    opacity: 1;
  }

  .dev header .header-nav-logo-white {
    display: none;
  }

  .dev .header-nav-content-menu {
    opacity: 1;
  }

  @font-face {
    font-family: "NeueMontreal-Medium";
    src: url("/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
    font-weight: medium;
    font-style: normal;
    font-display: swap;
  }
</style>
